@keyframes fadeOutRight {
    0% {
        left: 0;
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        left: 30%;
        opacity: 0;
    }
}

@keyframes fadeDown {
    0% {
        transform: translateY(-3rem);
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}