:root {

    /* color */
    --body-color: hsl(247deg 15% 11%);
    --primary-color: hsl(247deg 11% 15%);
    --secondary-color: #f588b0;
    --text-color: #d3d3d3;

    /* font */
    --default-font: 'Rubik';
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
::selection {
    color: var(--body-color);
    background-color:var(--secondary-color);
}
input,textarea {
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: inherit;
}
input[type="checkbox"] {
    display: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
ul {
    list-style: none;
}

.main {
    padding: 3.2rem 2.4rem;
    height: 100vh;
    overflow: hidden;
}
.container--center {
    max-width: 70rem;
    margin: 0 auto;
    position: relative;
    height: calc(100vh - 6.4rem);
}